.room-navbar-container > .flex-box {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80px;
  display: flex;
  background-color: var(--main-500);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.25),
    inset 0px 2px 4px rgba(255, 255, 255, 0.2);
  padding: 24px 20px 16px;
  justify-content: space-between;
}

.room-navbar-container > .flex-box .room-button-wrapper {
  display: flex;
  gap: 12px;
}

.room-navbar-container > .flex-box .room-button svg {
  font-size: 20px;
  color: var(--sub-700);
}

.room-navbar-container > .flex-box .room-button-set-bath-goal {
  width: 180px;
  padding: 0px 52px 0px 20px;
}

.room-navbar-container > .flex-box .room-button-cancel {
  width: 100px;
  padding: 0;
  justify-content: center;
}

.room-navbar-container > .flex-box .room-button-start-bath {
  width: 140px;
  padding: 0px 44px 0px 16px;
}

.room-navbar-container > .flex-box .room-button-end-bath {
  width: 140px;
  padding: 0px 36px 0px 20px;
}
