.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 16px;
    background-color: #F5F5F5;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }

  .header {
    background-color: #D4F1E8;
    padding: 0 20px;
    color: #FFFFFF;
    text-align: left;
    height: 100px; 
    width: 100%;
    box-sizing: border-box;
    position: fixed; /* ヘッダーを固定 */
    top: 0; /* 上部に固定 */
    left: 0; /* 左端に固定 */
    z-index: 100; /* 他の要素の上に表示 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo-box {
    display: flex;
    align-items: center;
    height: 100px;
  }
  
  .logo {
    font-size: 16px;
    font-weight: bold;
    color: #795548;
  }

  .logoImg {
    margin-right: 16px; /* ロゴとの間隔 */
    margin-left: 8px; 
    width: 32px;
    height: 32px;
    z-index: 2; /* 四角形を前面に表示する */
  }

  .logout-button {
    position: absolute;
    top: 56px;
    right: 20px;
    height: 32px;
    background-color: #695443;
    color: white;
    border: none;
    padding: 4px 20px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .content {
    width: 100%;
    max-width: 400px;
  }

  .input-field-container {
    background-color: #FFD4BC;
    /* height: 160px; */
    width: 280px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .input-field-container h3 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #695443;
  }

  .input-field-container p {
    position: relative;
    text-align: left;
    left: 8px;
    margin: 0 0 10px;
    color: #695443;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .post-button {
    background-color: #695443;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 12px;
    width: 44%;
  }

  .room-select-button{
    background-color: #695443;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 12px;
    width: 80%;
    margin-bottom: 10px;
  }

  .footer {
    position: fixed;
    background-color: #695443;
    padding: 0 10px;
    color: #FFFFFF;
    text-align: center;
    height: 80px; 
    bottom: 0;
    left: 0;
    width: 100%; 
    box-sizing: border-box; 
    font-size: 12px;
  }
  
  .footer p {
    position: fixed;
    bottom: 24px;
    left: 168px;
    margin: 0;
  }
