.levelUpContainer {
  padding: 128px 40px 60px;
  text-align: center;
}

.levelUpContainer h3 {
  font-size: 32px;
  color: #695443;
  margin: 0;
  margin-bottom: 10px;
}

.levelUpContainer h3 .level {
  font-size: 16px;
}

.levelUpContainer .text img {
  width: 220px;
  height: 100%;
}

.levelUpContainer .point {
  margin-top: 12px;
  margin-bottom: 20px;
}

.levelUpContainer .pointList {
  padding: 32px 0;
  background-color: #FFD4BC;
  border-radius: 20px;
}

.levelUpContainer p {
  color: #695443;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.levelUpContainer .footer{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.levelUpContainer h2 {
  font-weight: normal;
  font-size: 12px;
}

.levelUpContainer .room {
  display: block;
  background-color: #695443;
  color: white;
  text-decoration: none;
  padding: 12px 40px;
  border-radius: 12px;
  margin: 20px auto 0px;
  width: 160px;
}
