/* カレンダー全体 */
.react-calendar {
  width: 100% !important;
  margin: auto;
  border: 5px solid var(--brown-700);
  border-radius: 20px;
  overflow: hidden;
}

/* ナビバー(ヘッダー) */
.react-calendar__navigation {
  display: flex;
  width: auto;
  height: 3rem;
  text-align: center;
  margin-bottom: 1rem;

  button {
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    background-color: var(--brown-700) !important;
    color: var(--gray-0);
  }

  .react-calendar__navigation__label {
    font-weight: bold;
  }

  .react-calendar__navigation__arrow {
    font-weight: bold;
    flex-grow: 0.333;

    &:hover {
      background-color: var(--brown-300) !important;
    }
  }
}

/* 曜日見出し */
.react-calendar__month-view__weekdays {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* 曜日見出しの色を変更 */
.react-calendar__month-view__weekdays__weekday--weekend {
  &:nth-child(7) {
    color: #00f;
  }
  &:nth-child(1) {
    color: #f00;
  }
}

/* 曜日の下線を消す */
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration-line: none;
}

/* カレンダーのタイル */
.react-calendar__tile {
  position: relative;
  font-size: 0.8rem;
  padding-top: 2px;
  width: auto;
  height: calc(100vw / 7 * 0.8);
  border: 1px solid var(--brown-700) !important;

  display: flex;
  justify-content: center;

  &.today {
    background: var(--sub-500) !important;
    color: var(--brown-700) !important;

    &:hover {
      background-color: var(--sub-500) !important;
    }
  }

  &:hover {
    background: var(--gray-0) !important;
  }
}

/* アクティブなカレンダータイル */
.react-calendar__tile--active {
  background-color: var(--gray-0) !important;
  color: var(--brown-700) !important;
}

/* 土曜日の日付を青色にする */
.react-calendar__month-view__days__day--weekend:nth-child(7n) {
  color: #00f;
}

/* 隣接した月の日付をグレーアウト */
.react-calendar__month-view__days__day--neighboringMonth {
  /* visibility: hidden; */
  background-color: var(--gray-200);
  color: var(--gray-500) !important;

  &:hover {
    background-color: var(--gray-200) !important;
  }
}

/* スタンプ */
.stamp-image {
  width: calc(100vw / 7 * 0.5);
  height: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--brown-700);
}
