.select-color-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: calc(100vw - 64px);
  margin: 32px auto 40px;
}

.select-color-container .color {
  display: block;
  width: 102px;
  height: 82px;
  border-radius: 10px;
  object-fit: cover;
}

.select-color-container .selected-color {
  border: 3px solid var(--gray-0);
  outline: 3px solid var(--sub-500);
}

.select-color-container .selected-color-wrapper {
  position: relative;
}

.select-color-container .selected-text {
  width: 80px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--gray-0);
  border-radius: 100px;
  position: absolute;
  left: 50%;
  bottom: -23px;
  transform: translateX(-50%);
  background-color: var(--sub-500);
}

.select-color-container .selected-text p {
  color: var(--gray-0);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 13px;
}

.select-color-container .locked-color {
  background-color: var(--sub-500);
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-color-container .locked-color svg {
  color: var(--gray-0);
  font-size: 20px;
}
