.user-container > .flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 76px 0px 96px;
}

.user-container > .flex-box .for-position-wrapper {
  position: relative;
}

.user-container > .flex-box .for-position-wrapper > img {
  width: 104px;
  position: absolute;
  right: -32px;
  bottom: 16px;
}

@media (max-width: 389px) {
  /* 400px未満で適用するスタイル */
  .user-container > .flex-box .for-position-wrapper > img {
    display: none;
  }
}

