.button {
  height: 46px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
}

.button-w140 {
  width: 140px;
}

.button-w280 {
  width: 280px;
}

.button:disabled::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  pointer-events: none;
}

.ok-button-main {
  color: var(--gray-0);
  background-color: var(--main-500);
  border: 1px solid var(--main-700);
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2),
    inset 0px 2px 8px rgba(255, 255, 255, 0.4);
}

.cancel-button {
  background-color: var(--gray-0);
  border: 1px solid var(--gray-500);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.back-button {
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: var(--gray-0);
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.room-button {
  height: 40px;
  background-color: var(--gray-0);
  box-shadow: 0px, 3px, 0px, rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
}
